openai  # Library for interacting with the OpenAI API
python-dotenv  # Library for managing environment variables
pydub  # Library for handling audio files
sounddevice  # Library for recording audio
numpy > 1.22.2 # Library for numerical operations, used here for processing audio data
scipy  # Library for scientific calculations, used in audio processing
requests > 2.32.2 # Library for making HTTP requests, used for network calls in TTS (Text-to-Speech)
webrtcvad  # Library for Voice Activity Detection (VAD)
setuptools > 65.5.1  # Library for packaging Python projects
httpx[http2]
asyncio